<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= titulo %></title>

    <!-- Custom fonts for this template-->
    <link href="<%= Constantes.VENDOR_PATH.FONTAWESOME %>" rel="stylesheet" type="text/css">
    <link href="<%= Constantes.VENDOR_PATH.GOOGLE_FONTS %>" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="<%= Constantes.CSS_PATH.ADMIN_TEMPLATE %>" rel="stylesheet">

<script>
    window.i18n = {
        translations: <%- JSON.stringify(i18n.translations[i18n.currentLocale]) %>,
        t: function(key) {
            return key.split('.').reduce((obj, i) => obj?.[i], this.translations) || key;
        }
    };
</script>
</head>
