<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

    <body id="page-top">

        <!-- Page Wrapper -->
        <%- include('../partials/wrapper') %>
        <!-- End of Page Wrapper -->

        <%- include('../partials/scrollToTop') %>

        <!-- Logout Modal-->
        <%- include('../partials/logoutModal') %>
         <!-- End of Logout Modal-->
        
        <%- include('../partials/scripts') %>
        <%- include('../partials/scripts-level') %>

    </body>

</html>